---
const today = new Date();
---

<footer>
	<div class="aero-pane footer-content">
		&copy; {today.getFullYear()} Justin. All rights reserved.
		<div class="footer-links">
			<a href="/">Home</a>
			<a href="/blog">Blog</a>
			<a href="/rss.xml">RSS</a>
		</div>
	</div>
</footer>
<style>
	footer {
		padding: 3rem 1rem;
		width: var(--content-width);
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 0.9rem;
	}
	.footer-content {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		color: #444;
	}
	.footer-links {
		display: flex;
		gap: 1.5rem;
	}
	.footer-links a {
		color: var(--aero-blue-dark);
		text-decoration: none;
		font-weight: 600;
	}
	.footer-links a:hover {
		text-decoration: underline;
	}
</style>
